.jumbotron {
	width: 650px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	padding: 30px;
}

.table {
	margin-top: 20px;
}

.form-control {
	margin-bottom: 5px;
}
.selecionado {
	background-color: yellow;
}